.areaContainer {
    text-align: center;
    margin: 20px;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.areaImage {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.areaContainer:hover {
    transform: translateY(-5px);
    background-color: transparent !important; /* Ensure no blue background on hover */
}

.cardActionArea:hover {
    background-color: transparent !important; /* Remove hover background */
}